.button {
	background-color: $bg-primary-color;
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #ffffff;
	border: none;
	text-decoration: none;
}

.button--catalog {
	padding: 10px 109px;
}