/* здесь используйте глобальные селекторы img, body, html и так далее*/
body {
	font-family: $secondary-font;
	margin: 0;
	padding: 0;
}

body::before {
	@media (min-width: $desktop-width) {
		content: "";
		position: absolute;
		width: 50%;
		min-height: 694px;
		left: 50%;
		z-index: -1;
		background-image: linear-gradient(
				rgba(104, 183, 56, 0.85) 100%,
				rgba(104, 183, 56, 0.85) 100%
			),
			image-set(
				url("../../images/index/index-background-desktop@1x.jpg") 1x,
				url("../../images/index/index-background-desktop@2x.jpg") 2x
			);
		background-position: left bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}
}