/* здесь используйте глобальные переменные */
$bg-primary-color: #68b738;
$primary-color: #000000;
$secondary-color: #444444;
$tertiary-color: #f2f2f2;

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;
