$bg-primary-color: #68b738;
$primary-color: #000000;
$secondary-color: #444444;
$tertiary-color: #eaeaea;

$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Lato", "Arial", sans-serif;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
