.example {
	background-color: $third-color;
	padding: 0 20px;

	@media (min-width: $tablet-width) {
		padding: 0;
		background: linear-gradient(to bottom,
    rgb(255, 255, 255) 60%,
    rgb(234, 234, 234) 60%);
	}

	@media (min-width: $desktop-width) {
		padding: 0 110px 85px 110px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		background: linear-gradient(to bottom,
    rgb(255, 255, 255) 25%,
    rgb(234, 234, 234) 25%);
	}
}

.example__title {
	font-family: $primary-font;
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
	color: $primary-color;
	margin: 0;
	padding: 25px 0 40px;
	margin: 0;

	@media (min-width: $tablet-width) {
		font-size: 60px;
		line-height: 60px;
		padding: 45px 20px 60px;
	}

	@media (min-width: $desktop-width) {
		padding: 0;
		grid-column: 1;
		max-width: 325px;
		grid-row: 1/2;
	}
}

.example__description {
	margin: 0;
	padding-bottom: 20px;
	max-width: 280px;

	@media (min-width: $tablet-width) {
		max-width: 708px;
		padding: 0 20px 55px 20px;
	}

	@media (min-width: $desktop-width) {
		padding: 146px 0 69px;
		margin: 0;
		grid-column: 1;
		max-width: 433px;
		grid-row: 2/3;
	}
}

.example__list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	@media (min-width: $tablet-width) {
		display: inline-block;
		padding-left: 20px;
	}

	@media (min-width: $desktop-width) {
		padding: 0;
		grid-column: 1;
		max-width: 433px;
		padding-bottom: 55px;
	}
}

.example__item {
	display: inline-block;
	border: 1px solid #cdcdcd;
	position: relative;
	border-radius: 5px;
}

.example__item:not(:last-child) {
	margin-right: 28px;
}

.example__item-description {
	font-family: $primary-font;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: $primary-color;
	text-transform: uppercase;

	@media (min-width: $tablet-width) {
		font-size: 30px;
		line-height: 37px;
	}
}

.example__item-description--weight {
	padding: 15px 42px 17px;

	@media (min-width: $tablet-width) {
		padding: 15px 57px 20px;
	}
}

.example__item-description--time {
	padding: 15px 20px 17px;

	@media (min-width: $tablet-width) {
		padding: 15px 30px 20px;
	}
}

.example__number {
	font-family: $secondary-font;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: $secondary-color;
	background-color: #eaeaea;
	position: absolute;
	margin: 0;
	text-align: center;
	max-width: 80px;
	left: 23px;
	top: 48px;

	@media (min-width: $tablet-width) {
		background-color: #ffffff;
		max-width: 142px;
		padding: 0 10px 0 10px;
	}
}

.example__number--weight {
	@media (min-width: $tablet-width) {
		top: 65px;
		left: 29px;
		background-color: #ffffff;
	}

	@media (min-width: $desktop-width) {
		background-color: #e6e6e6;
	}
}

.example__number--time {
	@media (min-width: $tablet-width) {
		top: 65px;
		left: 18px;
		background-color: #ffffff;
	}

	@media (min-width: $desktop-width) {
		background-color: #e6e6e6;
	}
}

.example__description-costs {
	font-family: $primary-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: $primary-color;
	text-transform: uppercase;
	margin: 0;
	padding: 30px 0 20px;
	text-align: center;

	@media (min-width: $tablet-width) {
		display: inline-block;
		font-size: 20px;
		text-align: end;
		vertical-align: middle;
		padding: 30px 20px 20px 112px;
	}

	@media (min-width: $desktop-width) {
		padding: 0;
		padding-bottom: 75px;
		grid-column: 1;
		text-align: left;
	}
}
