.example-slider {
  position: relative;
  display: grid;
  margin: 0 auto;
  width: 280px;
  grid-template-columns: 50% 4px 1fr;
  padding-bottom: 36px;
  background: transparent;
  box-shadow: none;

  @media (min-width: $tablet-width) {
    width: 560px;
    padding: 85px 104px 95px;
    grid-column: 1/-1;
  }

  @media (min-width: $desktop-width) {
    background: none;
    grid-column: 2;
    grid-row: 1/4;
    padding: 0;
    padding-left: 48px;
  }
}

.example-slider__container-img {
  display: flex;
  overflow: hidden;
}

.example-slider__container-img--cat-big {
  justify-content: flex-start;
}

.example-slider__container-img--cat-small {
  justify-content: flex-end;
}

.example-slider__img-big-cat {
  max-width: none;
}

.example-slider__img-small-cat {
  max-width: none;
}

.example-slider__button {
  position: relative;
  z-index: 1;
  width: 4px;
  max-height: 300px;
  padding: 0;
  border-radius: 2px;
  border: none;
  background-color: #666666;
  cursor: ew-resize;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $bg-primary-color;
  }

  &:active {
    background-color: rgba(94, 170, 47, 0.6);
  }

  @media (min-width: $tablet-width) {
    max-height: 540px;
  }

  @media (min-width: $desktop-width) {
    max-height: 514px;
  }
}

.example-slider__icon {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease, border-color 0.2s ease;

  &::before {
    content: "";
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#arrow-slider");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #666666;
  }
}

.example-slider__button:hover .example-slider__icon {
  border-color: $bg-primary-color;
  transition: border-color 0.3s ease;
}

.example-slider__button:hover .example-slider__icon::before {
  background-color: $bg-primary-color;
  transition: background-color 0.1s ease;
}
