.example-slider {
  background: transparent;
  box-shadow: none;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom,
    rgb(255, 255, 255) 35%,
    rgb(234, 234, 234) 35%);
  }

  @media (min-width: $desktop-width) {
    background: none;
  }
}