.footer {
  background-color: $tertiary-color;
	padding-right: 20px;
	padding-left: 20px;

	@media (min-width: $tablet-width) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 55px 10px;
	}

	@media (min-width: $desktop-width) {
		padding: 66px 110px;
	}
}

.logo {
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;

	@media (min-width: $tablet-width) {
		padding: 0;
	}
}

.footer__logo-link {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 40px;

	@media (min-width: $tablet-width) {
		padding: 0;
	}
}

.footer__logo-link-description {
  font-family: $secondary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #444444;

	@media (min-width: $tablet-width) {
		padding-right: 23px;
	}
}