.form-cat-info {
	border: none;
	border-bottom: 1px solid #d9d9d9;
	margin: 0;
	padding: 0 20px 24px;

	@media (min-width: $tablet-width) {
		padding: 0 70px 72px;
		border: none;
	}

	@media (min-width: $desktop-width) {
		padding: 0 80px 0 110px;
		display: inline-block;
	}
}

.form-cat-info__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.form-cat-info__item:not(:last-child) {
	margin-bottom: 14px;

	@media (min-width: $tablet-width) {
		margin-bottom: 20px;
	}
}

.form-cat-info__label {
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: $secondary-color;   
	text-transform: uppercase;

	@media (min-width: $tablet-width) {
	font-size: 20px;
	line-height: 30px;
	}
}

.form-cat-info__input {
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: $secondary-color;
	text-transform: uppercase;
	margin-left: 13px;
	padding: 13px 15px 12px;

	&:focus-visible {
    outline: 1px solid #444444;
    transition: outline 0.2s linear;
  }

  &:invalid:not(:placeholder-shown){
    outline: 1px solid #ff8282;
  }

	@media (min-width: $tablet-width) {
		padding: 19px 20px 14px;
		font-size: 20px;
		line-height: 30px;
	}
}

.form-cat-info__input--name {
	width: 193px;

	@media (min-width: $tablet-width) {
		width: 521px;
	}

	@media (min-width: $desktop-width) {
		width: 463px;
	}
}

.form-cat-info__input--weight {
	width: 171px;

	@media (min-width: $tablet-width) {
		width: 494px;
	}

	@media (min-width: $desktop-width) {
		width: 436px;
	}
}

.form-cat-info__input--age {
	width: 137px;

	@media (min-width: $tablet-width) {
		width: 451px;
	}

	@media (min-width: $desktop-width) {
		width: 393px;
	}
}