.form-goal__list {
    list-style-type: none;
}

.form-goal__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: $secondary-color;
    text-transform: uppercase;
}