.form-contact-owner {
	border: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.form-contact-owner__title {
	font-family: $primary-font;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
	color: $primary-color;
	background-color: #ffffff;
	max-width: 200px;
	margin: 0;
	padding: 26px 20px 35px;
	position: relative;
	z-index: 1;

	@media (min-width: $tablet-width) {
		font-size: 36px;
		line-height: 36px;
		padding: 0 40px 76px;
		width: fit-content;
		max-width: 515px;
		margin-left: 30px;
	}

	@media (min-width: $desktop-width) {
		margin: 70px 0 0 70px;
	}
}

.form-contact-owner__list {
	list-style-type: none;
	margin: 0;
	padding: 0 20px 24px;

	@media (min-width: $tablet-width) {
		padding: 0 70px 65px;
	}

	@media (min-width: $desktop-width) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 110px 70px;
	}
}

.form-contact-owner__item:not(:last-child) {
	margin-bottom: 14px;
}

.form-contact-owner__label {
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	color: $secondary-color;
	text-transform: uppercase;
	position: relative;

	@media (min-width: $tablet-width) {
		font-size: 20px;
		line-height: 30px;
	}
}

.form-contact-owner__input {
	margin-left: 13px;
	padding: 14px 15px 13px;

	@media (min-width: $tablet-width) {
		padding: 19px 20px 14px;
	}
}

.form-contact-owner__input--email {
	width: 179px;

	@media (min-width: $tablet-width) {
		width: 506px;
	}

	@media (min-width: $desktop-width) {
		width: 448px;
	}
}

.form-contact-owner__input--tel {
	width: 163px;

	@media (min-width: $tablet-width) {
		width: 485px;
	}

	@media (min-width: $desktop-width) {
		width: 427px;
	}
}

.form-contact-owner__label--email::before {
	content: "";
	position: absolute;
	width: 17px;
	height: 13px;
	display: block;
	@include bg-icon(transparent, url("../../images/icons/stack.svg#letter"), 100%);
	right: 13px;
	top: 6px;

	@media (min-width: $tablet-width) {
		right: 15px;
		top: 11px;
	}
}

.form-contact-owner__label--tel::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	display: block;
	@include bg-icon(transparent, url("../../images/icons/stack.svg#telephone"), 100%);
	right: 13px;
	top: 6px;

	@media (min-width: $tablet-width) {
		right: 15px;
		top: 11px;
	}
}

.form-contact-owner::before {
	content: "";
	position: absolute;
	top: 40px;
	right: 0;
	width: 100%;
	height: 2px;
	background-color: $bg-primary-color;

	@media (min-width: $tablet-width) {
		top: 21px;
	}

	@media (min-width: $desktop-width) {
		top: 92px;
	}
}
