.form__description {
	font-family: $secondary-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	color: $primary-color;
}

.form__button--send {
	padding: 10px 78px;
	text-align: center;
}