.form-header__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: $primary-color;
}

.form-header__description {
    font-family: Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $primary-color;
    text-transform: uppercase;
}