.hero {
	position: relative;
	padding: 0 20px 32px 20px;
}

.hero::before {
	content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  min-height: 302px;
  background-color: #414046;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85) 100%,
      rgba(104, 183, 56, 0.85) 100%
    ),
    image-set(
      url("../../images/index/index-background-mobile@1x.jpg") 1x,
      url("../../images/index/index-background-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.hero__title {
	font-family: $primary-font;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	color: #ffffff;
	margin: 0;
	padding: 27px 15px 25px;
	text-align: center;
}

.hero__description {
	font-family: $primary-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	color: #ffffff;
	margin: 0;
	padding: 0 42px 29px 40px;
	text-align: center;
}

.hero__button {
	padding: 10px 64px;
	text-transform: uppercase;
}