.hero {
    background-color: $bg-primary-color;
}

.hero__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #ffffff;
}

.hero__description {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #ffffff;
}