.location-address {
  font-style: normal;
  padding: 26px 20px;
  margin: 0 auto;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 59px 70px;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
    column-gap: 79px;
    position: absolute;
    width: 434px;
    padding: 60px 51px 58px 80px;
    background-color: #ffffff;
    left: 110px;
    top: 95px;
    height: 81px;
    overflow: auto;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #a3bcb1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
  }

  &::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
  }

  &::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
    column-gap: 79px;
  }
}

.location-address__container {
  display: flex;
  max-width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    max-width: 628px;
  }

  @media (min-width: $desktop-width) {
    justify-content: normal;
    column-gap: 79px;
    max-width: 628px;
  }
}

.main-container--catalog .location-address {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.main-container--form .location-address {
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
  }
}

.location-address__description-invitation {
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
  max-width: 140px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 27px;
    max-width: 340px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 168px;
  }
}

.location-address__description-address {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: $secondary-color;
  margin: 0;
  max-width: 138px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 240px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    max-width: 172px;
    text-align: left;
  }
}

.page__body--catalog .location-address__description-address {
  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.location-address__description-address-city {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 20px;
  }
}
