.main-header {
  display: flex;
  align-items: center;
  width: 280px;
  margin: 13px auto;

  @media (min-width: $tablet-width) {
    flex-wrap: wrap;
    align-items: center;
    width: 704px;
    margin: 25px auto;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    justify-content: space-between;
  }
}

.main-header__logo {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  min-width: 200px;
  align-items: center;
}

.main-header__logo-text {
  vertical-align: super;

  @media (min-width: $tablet-width) {
    padding: 5px 13px 10px 13px;
  }
}