.main-header {
  padding: 13px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    justify-content: space-between;
  }
}

.main-header__logo {
  text-decoration: none;
}

.main-header__logo-text {
  vertical-align: super;
  padding-left: 56px;

  @media (min-width: $tablet-width) {
    padding: 5px 13px 10px 13px;
  }
}