.nutrition-programs__list {
    list-style-type: none;
}

.nutrition-programs__item {
    background-color: $tertiary-color;
}

.nutrition-programs__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    color: $primary-color;
}

.nutrition-programs__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: $primary-color;
}