.other-product__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: $primary-color;
}

.other-product__list {
    list-style-type: none;
}

.other-product-card__title {
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #222222;
    text-transform: uppercase;
}

.other-product-card__parametr {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-color;
}

.other-product-card__value {
    font-family: "Lato", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-color;    
}