.page__body {
	font-family: $secondary-font;
	margin: 0;
	padding: 0;
}

.page__body--index::before {

	@media (min-width: $tablet-width) {
		display: none;
	}

	@media (min-width: $desktop-width) {
		content: "";
		position: absolute;
		width: 50%;
		height: 694px;
		left: 50%;
		z-index: -1;
		background-image: linear-gradient(
				rgba(104, 183, 56, 0.85) 100%,
				rgba(104, 183, 56, 0.85) 100%
			),
			image-set(
				url("../../images/index/index-background-desktop@1x.jpg") 1x,
				url("../../images/index/index-background-desktop@2x.jpg") 2x
			);
		background-repeat: no-repeat;
		background-size: cover;
	}
}