.site-list {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  display: none;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.site-list__item {
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.site-list__link {
  display: block;
  padding: 22px 10px 24px 10px;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 0;
    border: none;
    font-size: 18px;
    line-height: 24px;
    padding: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
  }
}
