.social-list {
  list-style-type: none;
	padding: 20px 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 24px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;

	@media (min-width: $tablet-width) {
		padding: 0;
		border: none;
	}
}

.social-list__link {
	display: inline-block;
	width: 30px;
	height: 28px;
}

.social-list__link::before {
	content: "";
	display: block;
	width: 30px;
	height: 28px;
}

.social-list__link--vk::before {
  @include bg-icon(transparent, url("../../images/icons/stack.svg#vk"));
}

.social-list__link--youtube::before {
  @include bg-icon(transparent, url("../../images/icons/stack.svg#youtube"));
}

.social-list__link--telegram::before {
  @include bg-icon(transparent, url("../../images/icons/stack.svg#telegramm"));
}