.social-list {
  list-style-type: none;
  padding: 20px 0 7px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 10px 0 0 35px;
    border: none;
  }
}

.social-list__link {
  display: inline-block;
  width: 30px;
  height: 28px;
}

.social-list__link::before {
  content: "";
  display: block;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #666666;
  transition: background 250ms ease-in-out;
}

.social-list__link:hover::before {
  background-color: $bg-primary-color;
}

.social-list__link:active::before {
  opacity: 0.3;
}

.social-list__link--vk::before {
  mask-image: url("../../images/icons/stack.svg#vk");
  width: 27px;
  height: 17px;
  margin-left: 4px;
}

.social-list__link--youtube::before {
  mask-image: url("../../images/icons/stack.svg#youtube");
  width: 24px;
  height: 19px;
  margin-left: 4px;
}

.social-list__link--telegram::before {
  mask-image: url("../../images/icons/stack.svg#telegramm");
  width: 20px;
  height: 17px;
  margin-left: 4px;
}
