.surprise {
    background-color: $bg-primary-color;
    opacity: 0.85;
}

.surprise__description {
    font-family: $secondary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}